.footer {
  position: relative;
  text-align: center;
  height: 50px;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  /* background: rgba(0, 0, 0, 0.9); */
  background-color: #131921;
  padding-top: 10px;
}
.footer h6 {
  font-size: large;
  font-weight: 400;
  text-decoration: none;
  color: white;
}
